USE [master]
GO
/****** Object:  Database [DB_BuenGranito]    Script Date: 28/11/2025 01:23:46 ******/
CREATE DATABASE [DB_BuenGranito]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_BuenGranito', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_BuenGranito.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_BuenGranito_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_BuenGranito_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_BuenGranito].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_BuenGranito]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 28/11/2025 01:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[IdPedido] [int] IDENTITY(1,1) NOT NULL,
	[NumeroTurno] [nvarchar](10) NOT NULL,
	[FechaVenta] [datetime] NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[IdUsuarioVendedor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VistaReporteDiario]    Script Date: 28/11/2025 01:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 5. REPORTES INTELIGENTES (Vistas)
-- =============================================

-- VISTA 1: REPORTE PARA EXCEL (Ventas Diarias Agrupadas)
-- Esta vista hace el trabajo sucio por ti. En C# solo haces: SELECT * FROM VistaReporteDiario
CREATE VIEW [dbo].[VistaReporteDiario] AS
SELECT 
    CAST(p.FechaVenta AS DATE) AS Fecha,
    COUNT(p.IdPedido) AS CantidadVentas,
    SUM(p.Total) AS TotalVendido
FROM Pedidos p
GROUP BY CAST(p.FechaVenta AS DATE);
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 28/11/2025 01:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[DNI] [nvarchar](20) NOT NULL,
	[Contrasena] [nvarchar](100) NOT NULL,
	[IdRol] [int] NOT NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comandas]    Script Date: 28/11/2025 01:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comandas](
	[IdComanda] [int] IDENTITY(1,1) NOT NULL,
	[IdPedido] [int] NOT NULL,
	[Estado] [nvarchar](20) NULL,
	[HoraEnvioCocina] [datetime] NULL,
	[HoraFinPreparacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdComanda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VistaHistorialVentas]    Script Date: 28/11/2025 01:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- VISTA 2: DETALLE DE VENTAS (Para ver ticket por ticket en el Admin)
CREATE VIEW [dbo].[VistaHistorialVentas] AS
SELECT 
    p.IdPedido,
    p.NumeroTurno,
    p.FechaVenta,
    p.Total,
    u.Nombre + ' ' + u.Apellido AS Vendedor,
    ISNULL(c.Estado, 'Sin Comanda') AS Estado
FROM Pedidos p
INNER JOIN Usuarios u ON p.IdUsuarioVendedor = u.IdUsuario
LEFT JOIN Comandas c ON p.IdPedido = c.IdPedido;
GO
/****** Object:  Table [dbo].[DetallesPedido]    Script Date: 28/11/2025 01:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesPedido](
	[IdDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IdPedido] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Subtotal]  AS ([Cantidad]*[PrecioUnitario]),
PRIMARY KEY CLUSTERED 
(
	[IdDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 28/11/2025 01:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[NombreProducto] [nvarchar](100) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Categoria] [nvarchar](50) NOT NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 28/11/2025 01:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Comandas] ON 

INSERT [dbo].[Comandas] ([IdComanda], [IdPedido], [Estado], [HoraEnvioCocina], [HoraFinPreparacion]) VALUES (1, 1, N'Listo', CAST(N'2025-11-27T20:34:15.410' AS DateTime), CAST(N'2025-11-27T21:10:20.307' AS DateTime))
INSERT [dbo].[Comandas] ([IdComanda], [IdPedido], [Estado], [HoraEnvioCocina], [HoraFinPreparacion]) VALUES (2, 2, N'Listo', CAST(N'2025-11-27T20:34:24.337' AS DateTime), CAST(N'2025-11-27T21:10:18.937' AS DateTime))
INSERT [dbo].[Comandas] ([IdComanda], [IdPedido], [Estado], [HoraEnvioCocina], [HoraFinPreparacion]) VALUES (3, 3, N'Listo', CAST(N'2025-11-27T20:34:35.053' AS DateTime), CAST(N'2025-11-27T21:10:19.873' AS DateTime))
SET IDENTITY_INSERT [dbo].[Comandas] OFF
GO
SET IDENTITY_INSERT [dbo].[DetallesPedido] ON 

INSERT [dbo].[DetallesPedido] ([IdDetalle], [IdPedido], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (1, 1, 2, 1, CAST(9.00 AS Decimal(10, 2)))
INSERT [dbo].[DetallesPedido] ([IdDetalle], [IdPedido], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (2, 1, 1, 1, CAST(6.00 AS Decimal(10, 2)))
INSERT [dbo].[DetallesPedido] ([IdDetalle], [IdPedido], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (3, 2, 2, 1, CAST(9.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetallesPedido] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedidos] ON 

INSERT [dbo].[Pedidos] ([IdPedido], [NumeroTurno], [FechaVenta], [Total], [IdUsuarioVendedor]) VALUES (1, N'A-669', CAST(N'2025-11-27T20:34:15.387' AS DateTime), CAST(15.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Pedidos] ([IdPedido], [NumeroTurno], [FechaVenta], [Total], [IdUsuarioVendedor]) VALUES (2, N'A-915', CAST(N'2025-11-27T20:34:24.327' AS DateTime), CAST(9.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Pedidos] ([IdPedido], [NumeroTurno], [FechaVenta], [Total], [IdUsuarioVendedor]) VALUES (3, N'A-804', CAST(N'2025-11-27T20:34:35.047' AS DateTime), CAST(6.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Pedidos] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([IdProducto], [NombreProducto], [Precio], [Categoria], [Activo]) VALUES (1, N'Café Americano', CAST(6.00 AS Decimal(10, 2)), N'Bebida', 1)
INSERT [dbo].[Productos] ([IdProducto], [NombreProducto], [Precio], [Categoria], [Activo]) VALUES (2, N'Capuchino', CAST(9.00 AS Decimal(10, 2)), N'Bebida', 1)
INSERT [dbo].[Productos] ([IdProducto], [NombreProducto], [Precio], [Categoria], [Activo]) VALUES (3, N'Croissant Mixto', CAST(8.00 AS Decimal(10, 2)), N'Comida', 1)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IdRol], [NombreRol]) VALUES (1, N'Administrador')
INSERT [dbo].[Roles] ([IdRol], [NombreRol]) VALUES (2, N'Vendedor')
INSERT [dbo].[Roles] ([IdRol], [NombreRol]) VALUES (3, N'Cocinero')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Apellido], [DNI], [Contrasena], [IdRol], [Activo]) VALUES (1, N'Roger', N'Aldana', N'49002123', N'admin', 1, 1)
INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Apellido], [DNI], [Contrasena], [IdRol], [Activo]) VALUES (2, N'Jorge', N'Chavez', N'admin1', N'1234', 2, 1)
INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Apellido], [DNI], [Contrasena], [IdRol], [Activo]) VALUES (3, N'Diana', N'Moscoso', N'admin2', N'1234', 3, 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
/****** Object:  Index [UQ__Comandas__9D335DC2FE783309]    Script Date: 28/11/2025 01:23:46 ******/
ALTER TABLE [dbo].[Comandas] ADD UNIQUE NONCLUSTERED 
(
	[IdPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__C035B8DD34D4053D]    Script Date: 28/11/2025 01:23:46 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comandas] ADD  DEFAULT ('En Preparacion') FOR [Estado]
GO
ALTER TABLE [dbo].[Comandas] ADD  DEFAULT (getdate()) FOR [HoraEnvioCocina]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT (getdate()) FOR [FechaVenta]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Comandas]  WITH CHECK ADD FOREIGN KEY([IdPedido])
REFERENCES [dbo].[Pedidos] ([IdPedido])
GO
ALTER TABLE [dbo].[DetallesPedido]  WITH CHECK ADD FOREIGN KEY([IdPedido])
REFERENCES [dbo].[Pedidos] ([IdPedido])
GO
ALTER TABLE [dbo].[DetallesPedido]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([IdUsuarioVendedor])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
USE [master]
GO
